<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#73c2df">
  <link rel="stylesheet" href="/assets/base.min.css">
</head>
<body>
  <div class="box">
    <form action="/account/signin" id="signin-form" method="post">
      <div class="form-field">
        <input type="text" class="text-input text-input-wide" autocapitalize="off" name="username" placeholder="Nome utente o email">
      </div>
      <div class="form-field">
        <input type="password" class="text-input" name="password" placeholder="Password">
        <button class="btn-green" type="submit">Entra</button>
      </div>
      <div class="form-field">
        <input type="checkbox" name="rememberme" checked="checked">
        <label for="rememberme">Ricordami</label>
        <span style="font-size: 13px;">·</span>
        <a href="/account/password/reset" class="forgot" style="font-size: 13px;
    font-family: sans-serif">Password dimenticata?</a>
      </div>
    </form>
    {{- if .}}
    <div class="form-field">
      <p class="error-text">{{.}}</p>
    </div>
    {{- end}}
  </div>
</body>
</html>