<!DOCTYPE html>
<html>
<head>
  <title>Visualizza dati</title>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#73c2df">
  <link rel="stylesheet" href="/assets/base.min.css">
  <script src="/assets/view.js" defer></script>
</head>
<body>
  <div class="topbar">
    <nav>
      <a class="nav-item" href="/">Home</a>
      <a class="nav-item nav-item-selected" href="/data/view">Visualizza dati</a>
      <a class="nav-item" href="/account/signout">Logout</a>
    </nav>
  </div>
  <div id="databox">
    {{- if .}}
    <form action="/data/edit" id="data-view-form" method="get">
      <div class="form-section" id="email-info">
        <div class="form-field">
          <input type="email" class="text-input" placeholder="Email" name="email" value="{{.Email}}" disabled>
        </div>
        {{- range .EmailAltre}}
        <div class="form-field">
          <input type="email" class="text-input" placeholder="Altra email" name="email" value="{{.}}" disabled>
        </div>
        {{- end}}
      </div>
      <div class="separator">Informazioni di base</div>
      <div class="form-section">
        <div class="form-field">
          <input type="text" class="text-input" placeholder="Nome" name="fname" value="{{.Nome}}" disabled>
          <input type="text" class="text-input fright" placeholder="Cognome" name="lname" value="{{.Cognome}}" disabled>
        </div>
        <div class="form-field">
          <select name="type" class="text-input" disabled>
            <option value="type-0" {{if strcmp .Tipo "type-0"}}selected="selected"{{end}}>Seleziona tipo</option>
            <option value="type-1" {{if strcmp .Tipo "type-1"}}selected="selected"{{end}}>Ricercatore</option>
            <option value="type-2" {{if strcmp .Tipo "type-2"}}selected="selected"{{end}}>Professore associato</option>
            <option value="type-3" {{if strcmp .Tipo "type-3"}}selected="selected"{{end}}>Professore ordinario</option>
            <option value="type-4" {{if strcmp .Tipo "type-4"}}selected="selected"{{end}}>Professore emerito</option>
            <option value="type-5" {{if strcmp .Tipo "type-5"}}selected="selected"{{end}}>Altro</option>
          </select>
        </div>
      </div>
      <div class="separator">Recapiti</div>
      <div class="form-section" id="info-address">
        <div class="form-field">
          <input type="text" class="text-input" placeholder="Indirizzo" name="address" value="{{.Indirizzo}}" disabled>
          <input type="tel" class="text-input fright" placeholder="Telefono" name="phone" value="{{.Telefono}}" disabled>
        </div>
        <div class="form-field">
          <input type="url" class="text-input" placeholder="Sito" name="url" value="{{.Sito}}" disabled>
        </div>
        {{- range .SitoAltri}}
        <div class="form-field">
          <input type="url" class="text-input" placeholder="Altro sito" name="url" value="{{.}}" disabled>
        </div>
        {{- end}}
      </div>
      <div class="form-section">
        <div class="form-field">
          <button class="btn-blue" type="submit">Modifica dati</button>
        </div>
      </div>
    </form>
    {{- end}}
  </div>
</div>
</body>
</html>